#error {
    display: flex;
    justify-content: center;
    animation-name: error;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    align-items: flex-end;
}

@keyframes error {
    34% {
        justify-content: flex-end;
    }
    35% {
        justify-content: center;
    }
    40% {
        justify-content: flex-start;
    }
    55% {
        justify-content: center;
    }
    70% {

    }
}